@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@layer utilities {
  .min-h-total {
    min-height: calc(100vh - 112px);
  }
  .min-h-mobile {
    min-height: calc(100vh - 56px);
  }
}

* {
  color: rgb(232, 232, 232);
}
